

html {
  background-color: #f5f3f3;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.note,
.warning {
  background-color: white;
  border: solid 1px white;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 10px;
  width: 100%;
}

.note::before,
.warning::before {
  font-size: 20px;
  margin-right: 10px;
}

.note {
  background-color: #f0f7fb;
  border-color: #3498db;
}

.note::before {
  content: '📝';
}

.warning {
  background-color: #fbf5f0;
  border-color: #db6334;
}

.warning::before {
  content: '⚠️';
}

.dashboardButton {
  width: 170px;
}

.centered {
  text-align: center;
}

.appContainer {
  margin-top: 50px;
}

.titleField {
  min-width: 100%;
  padding: 10px;
  background-color: #f5f3f3;
  border: 0px solid;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
  height: 40px;
}

.textField {
  min-width: 100%;
  min-height: 300px;
  padding: 10px;
  border-radius: 5px;
}

.titleField:focus {
  outline: none !important;
  border: 1px solid #9b4dc9;
  box-shadow: 0 0 0;
}

.input {
  box-shadow: 0 0 10px red;
}

.notificationContainer {
  max-width: 1050px;
}

.notificationWrapping {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
}

.center {
  display: block;
  text-align: center;
}

.profile {
  min-height: 260px;
  max-width: 400px;
  margin: auto;
}
.profile .username {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}
.profile .description {
  margin-top: 10px;
  font-size: 1em;
}
.profile .profileImage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.profile .profileImage .image, .profile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.profile .profileImage .image {
  position: absolute;
  top: 6px;
  margin: 0 6px;
  width: 108px;
  height: 108px;
  background-color: rgba(196,196,196,0.5);
}

.back {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  color: #666565;
  background-color: #e2e0e0;
  cursor: pointer;
}
.back:hover, .back:focus {
  background-color: #c8c7c7;
}

.pageWrapper {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 95%;
  max-width: 1010px;
  border-radius: 5px;
}

.pageWrapperTop {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1% 1% 0% 1%;
  width: 100%;
  max-width: 1010px;
  border-radius: 5px 5px 0px 0px;
}

.pageWrapperBottom {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1% ;
  width: 100%;
  max-width: 1010px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: -1%;
}

.pageWrapperComments {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 95%;
  max-width: 1010px;
  border-radius: 0px 0px 5px 5px;
}

.leftBrowsePage {
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 0px;
  min-width: 190px;
}

.rightBrowsePage {
  border-radius: 5px;
  width: 80%;
  float: left;
  min-height: 500px;
}

.blogPostPage {
  border-radius: 5px;
  width: 100%;
  float: left;
  background-color: #F5F3F3;
}

.rightEmptyPage {
  background-color: #F5F3F3;
  border-radius: 5px;
  width: 79%;
  float: left;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}

.post {
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}

.fullpost {
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.postprofile {
  min-height: 100px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.postprofile .username {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

.postprofile .description {
  margin-top: 10px;
  font-size: 1em;
}

.postprofile .profileImage {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.postprofile .profileImage .image, .postprofile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.postprofile .profileImage .image {
  position: absolute;
  top: 6px;
  margin: 0 6px;
  width: 88px;
  height: 88px;
  background-color: rgba(255,255,255,0.3);
}

.postLeft {
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 1%;
  text-align: center;
}

.postRight {
  border-left: 2px solid #E4E2E2;  
  padding: 10px;
  width: 79%;
  float: left;
  height: 100%;
}

.textPreview {
  margin-top: -5px;
  min-height: 50px;
  border-radius: 5px;
}

.post:hover {
  background-color: #f1eded;
}

.socialSection {
  margin-top: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1%;
  width: 100%;
  max-width: 1010px;
  border-radius: 5px 5px 0px 0px;
}

.postInteraction {
  background-color: #E4E2E2;
  border-radius: 0px 5px 5px 0px;
  padding-right: 1%;
  display: inline-flex;
  margin-bottom: -1%;
}

textarea {
  resize: none;
  background-color: #F5F3F3;
}

.postButton {
  width: 200px;
  margin-right: 12px;
  float: left;
}

.commentButton {
  width: 200px;
  margin-right: 12px;
  float: left;
  margin-bottom: 0%;
}

.commentArea {
  min-height: 70px;
  margin-bottom: 1%;
}

.comment {
  cursor: pointer;
  background-color: #F5F3F3;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.commentLeft {
  background-color: #F5F3F3;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin-right: 1%;
  text-align: center;
}

.commentRight {
  border-left: 2px solid #E4E2E2;  
  padding: 10px;
  width: 79%;
  float: left;
  height: 100%;
  background-color: #F5F3F3;
  border-radius: 0px 5px 5px 0px;
}

.commentprofile {
  width: 100%;
  max-width: 200px;
}

.commentprofile .profileImage {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}
.commentprofile .profileImage .image, .commentprofile .profileImage .identicon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.commentprofile .profileImage .image {
  position: absolute;
  top: 5px;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background-color: rgba(196,196,196,0.5);
}

.commentText {
  border-radius: 5px;
  margin-bottom: 0px;
}

.blogComments {
  border-radius: 5px;
  width: 100%;
  float: left;
  background-color: #F5F3F3;
  margin-bottom: 10px;
}

.deleteCommentButton {
  float: left;
  margin-bottom: 0%;
  margin-top: 10px;
}

/* custom Toby */

 :root {
  --bg-op: 0.8;
 }

.notificationWrapping {
  display: none;
}

html {
  margin: 0;
  padding:0;
  width:100%;
  height: 100%;
  background:rgb(133,145,195);
}

body {
  margin: 0;
  padding:0;
  width:100%;
  height: 100%;
  background: radial-gradient(circle at 20% 20%, rgba(133,145,195,var(--bg-op)) 0%, rgba(143,145,195,var(--bg-op)) 15%, rgba(133,135,185,var(--bg-op)) 30%, rgba(143,135,185, var(--bg-op)) 40%, rgba(133,155,185, var(--bg-op)) 62%, rgba(123,145,205,var(--bg-op)) 78%, rgba(133,125,205,var(--bg-op)) 91%);
  font-family: 'JetBrains Mono', monospace;
}

#__next {
  height: 100%;
}

h2 {
  font-size: 28px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageWrapper {
  flex:1;
  width:100%;
  border-radius: 0;
  max-width: none;
  padding:0;
  display:flex;
  flex-direction: column;
}

/* browse */

.cardsStack {
  margin:30px;
  flex:1;
}

.cardPost {
  position: relative;
  width:auto;
  margin:10%;
  padding:10%;
  box-shadow: 0 0 30px 30px rgba(0,0,0,0.1);
  background: radial-gradient(circle at 50% 50%,rgba(255,255,255,0.9) 60%, rgba(255,255,255,0.2) 120%);
  border:rgba(255,255,255,0.2) 3px solid;
  border-radius: 15px;
  height: fit-content;
}

.cardPost:hover {
  background: radial-gradient(circle at 50% 50%,rgba(255,255,255,0.9) 60%, rgba(255,255,255,0.2) 120%);
}

.post.cardPost {
  display: none;
  flex-direction: column;
}

.cardPost.card_0 {
  display: flex;
}

.arrowContainer {
  display: none;
  justify-content: center;
}
.arrowContainer.card_0 {
  display: flex;
}

.emptyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
}

.emptyCard .emptyUp {
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.3) 30%, transparent 67%);
}
.emptyCard h3 {
  margin-top:30px;
}

.cardPost .postAbove {
  position: absolute;
  margin-top: -20%;
  width: 100%;
  margin-left: -13%;
  padding: 0 30px;
}

.cardPost .postprofile {
  position: relative;
  margin-left:0;
  margin-right:0;
  max-width: none;
}

.cardPost .postAbove .postNameAddress {
  margin-top: -40px;
  display:flex;
} 
.cardPost .postAbove .postNameAddress .postName {
  width:50%;
} 
.cardPost .postAbove .postNameAddress .postAddress {
  width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  padding-left:120px;
}

.cardPost .postBelow {
  flex:1;
  position: relative;
  margin-top:40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardPost .postBelow .postTitleRow {
  display: flex;
  justify-content: space-between;
}

.cardPost .postBelow h2 {
  text-align: left;
}

.cardPost .postBelow .textDate {
  font-style: italic;
  opacity:0.5;
}


.cardPost .postExpiry {
  margin: 0;
  margin-bottom: 0;
  text-align: left;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -130px;
  font-size: 14px;
  color: rgb(100,100,100)
}

.cardPost .postExpiry .lessimportant {
  color: rgb(160,160,160)
}

.cardPost .postBelow .viewOnChainRow {
  display: flex;
  justify-content: space-around;
}
.cardPost .postBelow .viewOnChainRow a {
  color: rgb(133,145,195); 
}
.cardPost .postBelow .viewOnChainRow a:hover {
  color: rgb(133,145,195); 
}


.cardPost .postBelow .nftImgs {
  display: flex;
  justify-content: space-around;
}

.cardPost .postBelow .nftImgs .nftLeft {
  padding: 5px !important;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 100ms ease;
}

.cardPost .postBelow .nftImgs .nftRight {
  padding: 5px !important;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 100ms ease;
}

.cardPost .postBelow .nftImgs .votedfor {
  opacity: 1;
}
.cardPost .postBelow .nftImgs .notvotedfor {
  opacity: 0.8;
}

.cardPost .postBelow .likesRow {
  margin-top:20px;
  display: flex;
  justify-content: space-around;
}

.cardPost .postBelow .likesRow .postNumStatsContainer  {
  display: flex;
}

.cardPost .postBelow .postNumStats {
  margin-left:10px;
  margin-bottom: 0;
  height: min-content;
  align-self: center;
  font-size: 25px;
}
.cardPost .postBelow .postNumStatsContainer {
  cursor: pointer;
}

.cardPost .postNum {
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
}

/* profile */

.profile {
  min-height: auto;
  display: flex;
}

.profile .profileImage {
  width:100px;
  height:100px;
}

.profile .profileImage .identicon {
  width:90px;
  height:90px;
}

.profile .profileImage .image {
  width:78px;
  height:78px;
  opacity: 0.5;
}

.profile .profileInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding:20px;
  margin-left:10px;
  justify-content: center;
}

.profile .profileInfo .addressTitle {
  text-align: left;
  margin-bottom: 5px;
}
.profile .profileInfo .addressField {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* create */

.createCard {
  display: flex;
  flex-direction: column;
}

form {
  flex:1;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 15px;
}

form .titleField {
  background:white;
}

form .textField {
  min-height: auto;
  background:white;
  flex:1;
}

form input {
  margin-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
  color: rgb(50,50,50);
}

form input: before {
  color: rgb(50,50,50);
}

form #expiry {
  appearance: none;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
}

.postButton {
  background-color: rgb(133,145,195);
  border: rgb(102, 116, 175) 1px solid;
  transition: background-color 200ms ease;
  margin-bottom:0;
  margin-top:10px;
}

.postButton:hover {
  background-color: rgb(102, 116, 175);
  border: rgb(133,145,195) 1px solid;
}

/* nav */

.bottomNavBar {
  display: flex;  
  min-height:70px;
  opacity: 1;
  width: 100%;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 0 30px 30px rgba(0,0,0,0.02);
}

.bottomNavBar > .nav-link {
  flex:1; 
  margin:auto;
  max-width:40px;
  height:40px;
  cursor:pointer;
}

/* misc */

.specialtxt {
  font-style: italic;
  opacity:0.5;
}

.ReactModal__Body--open .App {
  filter:blur(5px);
}

.ReactModalPortal .ReactModal__Overlay {
  background-color:rgba(255, 255, 255, 0.4) !important;
}

.ReactModalPortal .ReactModal__Content {
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.1);
}

.Footer {
  display: none;
}

.rightEmptyPage {
  display: none;
}